html { overflow-x: hidden; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    overflow-x: hidden;
}
::selection {background: transparent;}
p{margin: 0; font: 12px/150% Arial; text-align: center; color: #888;}
p a{color: #888;}
.cont-B{
	width:1000px;
}
#controls{text-align: center;}
#controls button{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #55534b;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#controls button:hover{background: #003333;}

#puzzle{
	position: relative;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 80px;
	border: 3px solid #D2D3D4;
	border-radius: 4px;
}
#puzzle span{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 4px;
}
#puzzle span.number{
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#puzzle span.empty{background: transparent;}
#puzzle span.number.style-1{background: #97b4ac ;}
#puzzle span.number.style-2{background: #Bdcac6;}

#puzzle.animate span{
	-webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
}



.main{
	background-color: #ffffff;
}
.main-m{
	background-color: #ece4d8;
}
.line{
	height: 3px;
	background-color: #55534b;
	margin-bottom:50px;
}
.flex-cont{
	display:flex;

    margin-left: auto;
    margin-right: auto;
}
span, a{ color: #848586; }
h1 { font-size: 3rem; }
div { box-sizing: border-box;}
.mb-0 { margin-bottom: 0; }
.mb-15 { margin-bottom: 15px; }
.mt-0 { margin-top: 0; }
.mt-30 { margin-top: 0; }
.color { color: #55534b; }
.color2 { color: #97b4ac; }
.a-r{
	
	text-align: right;
	font-size: 19px;
	letter-spacing: 5px;
	color: #bbbcbc;
}
.a-t{
	font-size: 19px;
	letter-spacing: 5px;
	color: #bbbcbc;
	width: 600px;
}
#er{
	width: 100px;
    display: block;
    position: absolute;

        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 

	
}
img { max-width: 100%; }
body, ul{
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none; 
    transition: all 0.3s ease;
}


header {
    padding: 60px 70px 30px;
}
.info{
	margin-top:30px;
	color:  #bbbcbc;
	margin-left:15px;
	flex-direction:row;
	
}
.info1{
	margin-top:30px;
	color:  #bbbcbc;
	margin-left:50%;
	flex-direction: row;
}
.container{
	flex-direction: row;
	
	
}
.inf-col{
	flex-direction:column;
	width: 400px;
}
.inf-row{
	flex-direction:row;
	margin: 40px;
	

}
.container-photo{
	width:100px;
}

b{
	font-size: 40px;
	
}
.aloe-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #309AFD;
}


.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 135px;
}
.btn-nav {
    list-style: none;
    margin: 22px;   
}

.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}
.nav-link2 {

    height: 300px;
    color: #999; 
}



@media (max-width: 700px) {
    .tm-about-row {
        flex-direction: column;
    }
    .tm-about-col {
        flex: 0 0 100%;
    }
}

@media (max-width: 1264px) {
    .tm-main-nav ul { 
        max-width: 976px;
    }
}

@media (max-width: 1020px) {
    .tm-main-nav ul {
        max-width: 732px;
    }
}

@media (max-width: 776px) {
    .tm-main-nav ul {
        max-width: 488px;        
    }
}

@media (max-width: 532px) {
    .tm-main-nav ul { 
        max-width: 244px;
    }
}



@media (max-width: 1280px) {
    .tm-intro-row {
        flex-direction: column;
    }

    .tm-intro-img {
        max-width: 100%;
        max-height: none;
    }
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
	
}
	.container{
		max-width: 800px;
		text-align: center;
	}
	.znik{
		width: 120px;
	}
}
@media (max-width: 800px) {
    .tm-intro-row {
        flex-direction: row;
    }

    .tm-intro-img {
        max-width: 100%;
        max-height: none;
    }
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
	
}
	.container{
		max-width: 540px;
		text-align: center;
	}
	.znik{
		width: 80px;
	}
	.inf-row{
		max-width:560px;
	}
	.flex-cont{
		max-width:700px;
		text-align:center;
	}
	.a-t{
	width:390px;
}
}

@media (max-width: 540px) {
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 400px;
    height: 100px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}
.container{
		max-width: 540px;
		text-align: center;
	}
.znik{
	width:15px;
}
.inf-row{
		width:400px;
	}
.a-t{
	width:300px;
}

}



