html { overflow-x: hidden; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    overflow-x: hidden;
}
::selection {background: transparent;}
p{margin: 0; font: 12px/150% Arial; text-align: center; color: #888;}
p a{color: #888;}
.cont-B{
	width:1000px;
}



.main{
	background-color: #ffffff;
}
.main-m{
	background-color: #ece4d8;
}
.line{
	height: 3px;
	background-color: #55534b;
	margin-bottom:50px;
}
.flex-cont{
	display:flex;

    margin-left: auto;
    margin-right: auto;
}
span, a{ color: #848586; }
h1 { font-size: 3rem; }
div { box-sizing: border-box;}
.mb-0 { margin-bottom: 0; }
.mb-15 { margin-bottom: 15px; }
.mt-0 { margin-top: 0; }
.mt-30 { margin-top: 0; }
.color { color: #55534b; }
.color2 { color: #97b4ac; }
.a-r{
	
	text-align: right;
	font-size: 19px;
	letter-spacing: 5px;
	color: #bbbcbc;
}
.a-t{
	font-size: 19px;
	letter-spacing: 5px;
	color: #bbbcbc;
	width: 600px;
}
#er{
	width: 100px;
    display: block;
    position: absolute;

        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 

	
}
img { max-width: 100%; }
body, ul{
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none; 
    transition: all 0.3s ease;
}


header {
    padding: 60px 70px 30px;
}
.info{
	margin-top:30px;
	color:  #bbbcbc;
	margin-left:15px;
	flex-direction:row;
	
}
.info1{
	margin-top:30px;
	color:  #bbbcbc;
	margin-left:50%;
	flex-direction: row;
}
.container{
	flex-direction: row;
	
	
}
.inf-col{
	flex-direction:column;
	width: 500px;
}
.inf-row{
	flex-direction:row;
	width: 310px;
	margin: 40px;
	

}
.container-photo{
	width:200px;
}

b{
	font-size: 40px;
	
}
.aloe-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #309AFD;
}


.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 135px;
}
.btn-nav {
    list-style: none;
    margin: 22px;   
}

.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}
.nav-link2 {

    height: 300px;
    color: #999; 
}


.game {
  width:50px;
  height: 50px;
  margin: 3px;
}
.board {
  margin: 30px auto;
  width: 175px;
}

.option {
  width: 50px;
  height: 50px;
  margin: 10px;
}


footer li a:hover {
  color: #EA4335;
  text-decoration: none;
  }
  
  body {
	margin: 0 auto;
	font-family: Arial;
}

input::-moz-focus-inner { 
  border: 0; 
}

a {
   outline: 0;
}

.submit-button {
	margin-top: 20px;
	width: 280px;
}
.game-area {
	margin:0 auto;
	text-align: center;
	padding-top: 20px; 
}

.game-options {
	border-bottom: 1px dashed #CFCFCF;
	padding-bottom: 20px;
}
.game-options select, .game-options input  {
	border: 1px solid #333;
	padding: 10px;
	margin-right: 10px;
	outline: none;
}
.game-board {
	margin-top: 50px;
	padding: 10px;
}

.grid-box, .green-player, .red-player {
	font-size: 35px;
	padding: 15px 25px;
	width: 80px;
	height: 80px;
	margin:0px;
	background-color: #FCFCFC;
	outline: none;
}
.green-player {
	background-color: green;
	color: #FFF;
}
.red-player {
	background-color: red;
	color: #FFF;
}

.score-card {
	font-weight: bold;
	line-height: 25px;
}
.score-card span {
	font-weight: normal;
}
@media (max-width: 700px) {
    .tm-about-row {
        flex-direction: column;
    }
    .tm-about-col {
        flex: 0 0 100%;
    }
}

@media (max-width: 1264px) {
    .tm-main-nav ul { 
        max-width: 976px;
    }
}

@media (max-width: 1020px) {
    .tm-main-nav ul {
        max-width: 732px;
    }
}

@media (max-width: 776px) {
    .tm-main-nav ul {
        max-width: 488px;        
    }
}

@media (max-width: 532px) {
    .tm-main-nav ul { 
        max-width: 244px;
    }
}



@media (max-width: 1280px) {
    .tm-intro-row {
        flex-direction: column;
    }

    .tm-intro-img {
        max-width: 100%;
        max-height: none;
    }
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
	
}
	.container{
		max-width: 800px;
		text-align: center;
	}
	.znik{
		width: 120px;
	}
}
@media (max-width: 800px) {
    .tm-intro-row {
        flex-direction: row;
    }

    .tm-intro-img {
        max-width: 100%;
        max-height: none;
    }
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
	
}
	.container{
		max-width: 540px;
		text-align: center;
	}
	.znik{
		width: 80px;
	}
	.inf-row{
		max-width:560px;
	}
	.flex-cont{
		max-width:700px;
		text-align:center;
	}
	.a-t{
	width:390px;
}
}

@media (max-width: 540px) {
	.nav-link {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: 400px;
    height: 100px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}
.container{
		max-width: 540px;
		text-align: center;
	}
.znik{
	width:15px;
}
.inf-row{
		width:400px;
	}
.a-t{
	width:300px;
}

}

